body {
    max-width: 70em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
}

.paragraph-title {
    background-color: orange;
    clear: both;
    border-radius: 10px;
    padding-left: 1em;
}

header{
    display: flex;
    /*border-style: solid;*/
    width: 100%;
    height: 100%;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

#photo {
    /*display: block*/;
    max-height: 18em;
    max-width: 15em;
    width: auto;
    height: auto;
    margin: 1em;
}

.photo {
    align-self: flex-end;
}

.legend {
    font-size: 11px;
    text-align: center;
    margin-top: 0em;
    margin-bottom: 0em;
}

.detailed-description {
  display: none;
}

.description {
  cursor: pointer;
}

canvas {
  padding-left: 0px;
  margin: 10px;
}

#error-paragraph {
  display: none;
  color: red;
}

#qr-code-text-preview {
  font-size: 24px;
  font-family: "Courier New";
  font-weight: bold;
}

#position-patterns,
#timing-patterns,
#alignment-patterns,
#metadata {
  font-family: "Courier New";
  font-weight: bold;
}

.qr-code-text-preview-letter-hovered,
.position-pattern-hovered,
.timing-patterns-hovered,
.alignment-patterns-hovered,
.metadata-hovered {
  color: #00dd00;
}

#description-header {
  width: 50%;
}

@media only screen and (max-width: 640px) {
  header {
      flex-direction: column;
      align-items: center;
  }
  .photo {
      align-self: auto;
  }
  tr {
    display: flex;
    flex-direction: column;
  }
  #description-header {
    width: 100%;
  }
}
